{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'add/style.css' %}">
</head>
<body>
    <div id="box">
        Add Expenses
    </div>
    <form id="myForm" action="{% url 'saveExpense' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter name of the expense">
        <input type="date" name="email" placeholder="Enter your email">
        <input type="time" name="time" placeholder="Time">
        <input type="number" name="expense" placeholder="How much did you spend?">
        <!-- <label for="category">Category</label> -->
        <select id="category">
            <option value="Choose category">Choose category</option>
            <option value="food">Food</option>
            <option value="entertainment">Entertainment</option>
            <option value="travel">Travel</option>
            <option value="medical">Medical</option>

        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
